@model ProductDetailViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> usermanager
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AppUser user = User.Identity.IsAuthenticated ? await usermanager.FindByNameAsync(User.Identity.Name) : null;

    int? categoryId = ViewBag.CategoryId;
}

<main>
    <!-- section intro starts -->
    <section id="item-intro" style="background-image: url(../../assets/images/intro/item.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="title text-center">
                        <p>Order food with home delivery</p>
                        <h1 class="text-white">Our Shop</h1>
                        <div class="dots">
                            <ul class="list-unstyled justify-content-center">
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-down d-flex justify-content-center">
                        <div class="text-white mouse">
                            <div class="yellow-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="background-image: url(../../assets/images/section-footer/brush-dec.png);"></div>
    </section>
    <!-- section intro ends -->
    <!-- section single-item starts -->

    <section id="single-item" style="background-image: url(../../assets/images/services/section-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product d-flex flex-column">
                        <div class="product-name">
                            <h3>@Model.Product.Name</h3>
                            <div class="price-star">
                                <p class="price">
                                    Price:  <span>$@Model.Product.DiscountedPrice</span>
                                </p>
                                <div class="review d-flex ml-5">
                                    <span class="review-count">@Model.Product.ProductReviews.Count() reviews</span>
                                    <ul class="ml-3 list-unstyled d-flex">

                                        @for (int i = 0; i < Model.Product.Rate; i++)
                                        {
                                            <li><i class="fas fa-star"></i></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="big-image">
                            <div class="slider flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
                                @foreach (var item in Model.Product.ProductPhotos)
                                {
                                    <a class="big-image-link"
                                       data-fancybox="gallery"
                                       href="~/uploads/products/@item.Name">
                                        <img class="img-fluid" src="~/uploads/products/@item.Name" />
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="category-text">
                            <div class="category-inner">
                                <span>Category:</span> <a asp-controller="shop" asp-action="index" asp-route-categoryId="@categoryId">@Model.Product.Category.Name</a>
                            </div>
                            <p>@Html.Raw(Model.Product.Desc)</p>
                        </div>
                        <div style="padding-top:10px;" class="quantity-cart d-lg-flex d-md-flex d-block justify-content-between align-items-baseline">
                            <div class="quantity d-flex  align-items-baseline">
                                <form method="post" asp-action="addbasket" asp-controller="cart" asp-route-id="@Model.Product.Id">
                                    <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                                    @*<input asp-for="@Model.OrderItem.Count" name="count" class="form-control col-md-4 col-4">*@

                                    @if (user != null)
                                    {
                                        <button style="padding: 11px 28px;
        background: #C19D60;
        border: 1px solid #C19D60;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 13px;
        -webkit-transition: all .3s;
        transition: all .3s;
        margin-top:20px;
        border-radius: 0;
        outline: 0;
    " type="submit">Add to cart<i class="icon fal fa-long-arrow-right"></i></button>
                                    }
                                </form>
                            </div>
                            <div class="eye-bag d-inline ">
                                <i class="far fa-eye">  <span>@Model.Product.HasSeen</span></i>
                                <i class="ml-3 fal fa-shopping-bag"> <span>@Model.Product.HasShopped</span></i>
                            </div>
                        </div>

                        <div class="review-text">
                            <p class="head">Reviews</p>
                            <ul class="list-unstyled">
                                @foreach (var item in Model.Product.ProductReviews)
                                {
                                    <li class="review-inner d-flex">
                                        <div class="review-image">
                                            <img src="~/uploads/360_F_238868953_D6dfKSahj9HBXzzNleaPmfQI8gtN1jq5.jpg" class="img-fluid">
                                        </div>
                                        <div class="inner-text">
                                            <div class="avatar-rating">
                                                <span class="name">@item.FullName</span>
                                                <ul class="list-unstyled d-flex">
                                                    @for (int i = 0; i < item.Rate; i++)
                                                    {
                                                        <li><i class="fas fa-star"></i></li>
                                                    }


                                                </ul>
                                            </div>
                                            <div class="date">
                                                <span>@item.CreatedDate.ToString("MMMM dd yyyy HH:mm tt")</span>
                                            </div>
                                            <p class="big-text">@item.Message</p>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </div>

                        <div class="add-review">
                            <p>Add Review</p>
                            <form asp-action="review" method="post" class="row g-3">
                                <input type="hidden" name="productId" value="@Model.Product.Id" />
                                <div class="get-star d-flex align-items-center col-md-12">
                                    <p class="mb-0 mr-1">Your rating for this product</p>
                                    <div class="rating">
                                        <label>
                                            <input type="radio" name="rate" value="1" />
                                            <span class="icon">★</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="rate" value="2" />
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="rate" value="3" />
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="rate" value="4" />
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="rate" value="5" />
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                            <span class="icon">★</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">

                                    <input type="text" class="form-control" name="FullName" id="FullName" placeholder="Your Name*" required>
                                </div>
                                <div class="col-md-6 mb-3">

                                    <input type="email" class="form-control" name="email" id="Email" placeholder="Email Address*" required>
                                </div>

                                <div class="col-md-12 mb-4">

                                    <textarea class="form-control" name="message" id="Message" placeholder="Your Messsage"></textarea>
                                </div>
                                <div class="col-md-12 mb-4">

                                    <span class="review-success">Review has been accepted</span>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary add-review-btn">Add review<i class="icon fal fa-long-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="also-like">
                            <p>You Might Also Like</p>

                            <div class="related">
                                <div class="row">
                                    @foreach (var item in Model.RelatedProducts)
                                    {
                                        var relatedProductPoster = item.ProductPhotos.FirstOrDefault(x => x.Order == 1);

                                        <div class="col-lg-4 d-flex flex-column mb-3">
                                            <img src="~/uploads/products/@relatedProductPoster.Name" class="img-fluid">
                                            <a asp-action="index" asp-controller="product" asp-route-id="@item.Id" asp-route-categoryId="@item.Category.Id" class="link-like">@item.Name</a>
                                            <span class="price-like">
                                                $@item.Price
                                            </span>
                                        </div>

                                    }


                                </div>
                            </div>

                        </div>
                        <div class="align-self-center text-dark dark-separator">
                            .
                        </div>
                        <div class="back-to-shop-link d-flex justify-content-center align-items-center">
                            <a class="to-shop">Back to Shop<i class="icon fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        @*<div class="search">
                                <div class="col-md-12 justify-content-center d-flex align-items-center">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <a href="#" class="search-btn"><i class="text-white fas fa-search"></i></a>
                                </div>


                            </div>
                            <div class="filter">
                                <p>Price Filter</p>
                                <div class="row mt-3">
                                    <div class="col-lg-9">
                                        <input type="text" id="range" class="js-range-slider" name="my_range" value="" />
                                    </div>
                                    <div class="col-lg-3 p-0 d-flex justify-content-center align-items-center">
                                        <a href="#" class="update-btn">Update</a>
                                    </div>
                                </div>
                            </div>*@
                        <div class="popular">
                            <p class="popular-text">Popular Products</p>

                            <ul class="list-unstyled mt-3">
                                @foreach (var item in Model.PopularProducts)
                                {
                                    var popularposter = item.ProductPhotos.FirstOrDefault(x => x.Order == 1);
                                    <li class="popular-product d-flex">
                                        <div class="small-image mr-3">
                                            <img src="~/uploads/products/@popularposter.Name" class="img-fluid" style="width: 90px; height: auto;">
                                        </div>
                                        <div class="small-txt">
                                            <p class="text">@item.Name</p>
                                            <div class="small-price d-flex">
                                                <span class="pricetxt">Price:<span class="digit">$@item.DiscountedPrice</span></span>
                                                <span class="reviews">@item.ProductReviews.Count() Reviews</span>
                                            </div>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </div>

                        <div class="categories mt-5">
                            <p class="categorytxt">Categories</p>
                            <ul class="list-unstyled mt-3">
                                @foreach (var item in Model.Categories)
                                {
                                    <li class="category-link"><a asp-controller="shop" asp-action="index" asp-route-categoryId="@categoryId" class="category-btn">@item.Name</a> <span>@Model.Products.Where(c => c.Category.Name == item.Name).Count()</span></li>
                                }



                            </ul>
                        </div>

                        <div class="tags mt-5">
                            <p class="tagtxt">Related tags</p>

                            <ul class="list-unstyled mt-3 ">
                                @foreach (var prtag in Model.Product.ProductTags)
                                {
                                    <li class="taglink"><a href="#">@prtag.Tag.Name</a></li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="background-image: url(../../assets/images/section-footer/brush-dec_2.png);"></div>
    </section>
    <!-- section single-item ends -->
</main>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}