@model Chef
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Create</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.FullName"></label>
                <input class="form-control" asp-for="@Model.FullName">
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.City"></label>
                <input class="form-control" asp-for="@Model.City">
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Desc"></label>
                <input class="form-control" asp-for="@Model.Desc">
                <span asp-validation-for="@Model.Desc" class="text-danger"></span>
            </div>
        </div>



        <div class="form-row">
           
            <div class="form-group col-md-3">
                <label asp-for="@Model.FacebookUrl"></label>
                <input class="form-control" asp-for="@Model.FacebookUrl">
                <span asp-validation-for="@Model.FacebookUrl" rows="3" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.TwitterUrl"></label>
                <input class="form-control" asp-for="@Model.TwitterUrl">
                <span asp-validation-for="@Model.TwitterUrl" rows="3" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.VkUrl"></label>
                <input class="form-control" asp-for="@Model.VkUrl">
                <span asp-validation-for="@Model.VkUrl" rows="3" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.InstagramUrl"></label>
                <input class="form-control" asp-for="@Model.InstagramUrl">
                <span asp-validation-for="@Model.InstagramUrl" rows="3" class="text-danger"></span>
            </div>

        </div>
        <div class="form-row">

            <div class="form-group col-md-12">
                <label asp-for="@Model.File"></label>
                <input class="form-control" asp-for="@Model.File">
                <span asp-validation-for="@Model.File" class="text-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  
}

