@model Order
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> usermanager
@inject Restabook.Services.LayoutViewModelService service
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Setting setting = service.GetSettings(); Coupon coupon = service.GetCoupon();
    double subtotal = 0;
    double finaltotal = 0;
    double shipping = 0;
    int Id = ViewBag.orderId;
  
}

<!-- section intro starts -->
<section id="cart-intro" style="        background-image: url(~/../../assets/images/cart/bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Order food with home delivery</p>
                    <h1 class="text-white">Your Cart</h1>
                    <div class="dots">
                        <ul class="list-unstyled justify-content-center">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-down d-flex justify-content-center">
                    <div class="text-white mouse">
                        <div class="yellow-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section intro ends -->
<!-- section cart starts -->
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="table">
                    <p>Your Cart <span>@Model.OrderItems.Count() items</span></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="bg-light">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col" class="bg-light">Price</th>
                                <th scope="col">Count</th>
                                <th scope="col" class="bg-light">Status</th>
                                <th scope="col" class="bg-light">Total</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var item in Model.OrderItems)
                                {
                                    double fullprice = item.Product.DiscountedPrice * item.Count;

                                    <tr>
                                        <th scope="row" class="p-1 text-center bg-light">
                                            <img src="~/uploads/products/poster/@item.Product.PosterPhoto"
                                                 class="img-fluid" style="width: 50px; height: auto;" alt="">
                                        </th>
                                        <td>@item.Product.Name</td>
                                        <td class="bg-light">
                                            $@item.Product.DiscountedPrice
                                        </td>
                                        <td>@item.Count</td>
                                        <td>@(item.Order.OrderStatus == OrderStatus.Pending?"pending":(Model.OrderStatus == OrderStatus.Accepted?"accepted":"rejected"))</td>
                                        <td class="bg-light">$@fullprice</td>
                                     
                                    </tr>


                                    if (Model.OrderStatus != OrderStatus.Rejected)
                                    {
                                        subtotal = Model.TotalPrice;
                                    }

                                   
                                }
                            


                        </tbody>
                    </table>
                </div>
                <div class="apply d-flex justify-content-between mt-5">
                    <div class="coupon d-flex">
                        <form method="post" class="d-flex" asp-action="discount" asp-controller="cart">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="d-flex flex-column">
                                <input name="CouponName" class="form-control" style=" padding: 22px 0; text-indent: 10px; " type="text" placeholder="Coupon code">
                                @if (Model.IsCouponApplied)
                                {
                                    <small style="color:#C19D60;font-size:10px;">Coupon is Applied!!!</small>
                                }
                               
                            </div>
                            <button type="submit" style="line-height:25px" class="apply-btn btn">Apply</button>


                        </form>
                    </div>
                    <form method="post" asp-action="create" asp-controller="cart">

                        <button type="submit" class="submit-cart-btn">Update Cart</button>
                       
                    </form>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="totals">
                    <div class="total-inner">
                        <h5>Cart totals</h5>
                        <ul class="list-unstyled">

                            <li class="d-flex justify-content-between">
                                <p>Cart Subtotal:</p><span>$@subtotal</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>Shipping Total:</p>
                                @if (subtotal != 0)
                                {
                                    <span>
                                        $@(shipping = setting.ShippingCost)
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        $0
                                    </span>
                                }

                            </li>
                            <li class="d-flex justify-content-between">
                                <p>Total:</p>
                                @if (subtotal != 0)
                                {
                                    <span>$@(finaltotal=subtotal+shipping)</span>
                                }
                                else
                                {
                                    <span>$0</span>
                                }

                            </li>
                        </ul>
                        <div class="proceed">
                            <a asp-controller="checkout" asp-action="index" asp-route-id="@Id" class="proceed-btn">Proceed to Checkout</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(~/../assets/images/section-footer/brush-dec_2.png);">
    </div>
</section>

<!-- section cart ends -->
