@model ReservationViewModel
@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int pageCount = ViewBag.PageCount;
    int selectedPage = ViewBag.SelectedPage;
    int counter = (selectedPage - 1) * 4 + 1; 
    }

<div class="container-fluid">
    <div class="d-flex justify-content-end mb-2">
       

    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Fullname</th>
                <th class="col-md-2">ReservationDate</th>
                <th class="col-md-2">ReservationTime</th>
                <th class="col-md-2">PhoneNumber</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-1"></th>



               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservations)
            {
            <tr>
                <th  class="col-md-1">@counter</th>
                <td  class="col-md-2">@item.CustomerName</td>
                <td  class="col-md-2">@item.ReservationDate.ToString("dd.MM.yyyy")</td>
                <td  class="col-md-2">@item.ReservationTime.ToString("HH:mm")</td>
                <td  class="col-md-2">@item.PhoneNumber</td>
                <td  class="col-md-2">@item.Status</td>
                <td class="col-md-1">  <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a></td>


            </tr>
                counter++;
            }


        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (selectedPage > 1)
            {
                <li class="page-item ">
                    <a class="page-link" asp-action="index" asp-route-page="1"> <i class="fas fa-angle-double-left"></i></a>
                </li>
                <li class="page-item ">
                    <a class="page-link" asp-action="index" asp-route-page="@(selectedPage-1)"><i class="fas fa-angle-left"></i></a>
                </li>
            }

            @for (int i = (selectedPage - 2 < 1 ? 1 : selectedPage - 2); i <= (selectedPage + 2 > pageCount ? pageCount : selectedPage + 2); i++)
            {
                <li class="page-item @(i==selectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            @if (selectedPage < pageCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(selectedPage+1)" tabindex="-1">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@pageCount" tabindex="-1">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>

</div>

