@model ContactViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-3">Address</th>
                <th class="col-md-3">Phone</th>
                <th class="col-md-3">Support Email</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>

            <tr class="row">
                <th class="col-md-1">1</th>
                <td class="col-md-3">@Model.Contact.Address</td>
                <td class="col-md-3">@Model.Contact.Phone</td>
                <td class="col-md-3">@Model.Contact.SupportEmail</td>
                <td class="col-md-2">
                    <a asp-action="message" asp-route-contactId="@Model.Contact.Id" class="btn btn-primary">Messages</a>
                    <a asp-action="edit" asp-route-id="@Model.Contact.Id" class="btn btn-info">Edit</a>

                </td>
            </tr>



        </tbody>
    </table>
</div>

