@model MenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 1;

     
}

<!-- section discover starts -->
<section id="discover" style="        background-image: url(~/../assets/images/opening/plate.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Special menu offers.</p>
                    <h1 class="text-white">Discover Our menu</h1>
                </div>
                <div class="dots">
                    <ul class="list-unstyled justify-content-center">
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section discover ends -->
<!-- section  menus starts -->
<section id="menus">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="menu-tabs"> 

                        @foreach (var menu in Model.Menus)
                        {
                            
                            
                            

                            <a href="#@menu.Name.ToLower().Substring(0,3)" style="text-decoration:none" class="@(menu.Order==1?"tab-link active":"tab-link ")" >
                                <div class="top">
                                    <span>0@(counter).</span>
                                    <span class="inner-link">@menu.Name</span>
                                </div>
                                <div class="bottom">
                                    <i class="fas fa-caret-up"></i>
                                </div>
                            </a>
                            counter++;
                        }
                    

                    

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="menu-boxes">
                    @foreach (var item in Model.Menus)
                    {
                                
                                <div id="@item.Name.Substring(0,3).ToLower()" class="@(item.Order==1?"menu-content show":"menu-content")">


                                    <div class="row">

                                        @foreach (var product in Model.Products)
                                        {
                                           

                                            if (product.Category.Name == item.Name)
                                            {
                                                <div class="col-lg-6 col-md-12 col-12">

                                                    <div class="context d-flex justify-content-between">
                                                        <div class="left d-flex">

                                                            <a class="zoom" href="">
                                                                <div class="overlay">
                                                                    <i class="fas fa-search"></i>
                                                                </div>
                                                                <img src="~/uploads/products/poster/@product.PosterPhoto">
                                                            </a>
                                                            <div class="menu-details">
                                                                <h6>@product.Name</h6>
                                                                <p>@product.SmallDesc</p>
                                                            </div>
                                                        </div>

                                                        <div class="price">
                                                            <span class="d-block">$@product.DiscountedPrice</span>
                                                            <a href="" class="add-btn">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }



                                        }
                                    </div>
                                </div>
                    }

                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="align-self-center text-dark white-separator">
                    .
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="download-btn">
                    <a href="#">Download menu in PDF <i class="icon fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(./assets/images/section-footer/brush-dec_2.png);">
    </div>
</section>
<!-- section  menus ends -->
