@model AppUser
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Reservation> res = ViewBag.reservation;
    var counter = 1;
}

<section id="signupIntro" style="        background-image: url(~/../../assets/images/opening/plate.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p class="text-white">Profile Page</p>
                    @*<h1 class="text-white">Hi @Model.UserName.ToUpper()</h1>*@
                </div>
                <div class="dots">
                    <ul class="list-unstyled justify-content-center">
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="        background-image: url(~/../../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section intro ends -->
<!-- section registration starts -->
<section id="register" style="        background-image: url(~/../../assets/images/services/section-bg.png);">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 ">
                <div class="registration-form">
                    <h4 class="text-center">Personal Info</h4>
                    <form method="post">
                        <div class="form-row">

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group col-md-5 offset-md-1">

                                <input class="form-control" asp-for="@Model.FullName" placeholder="Your Name">
                                <span class="text-danger" asp-validation-for="@Model.FullName"></span>
                            </div>
                            <div class="form-group col-md-5 ">

                                <input class="form-control" asp-for="@Model.Email" placeholder="Email Address*">
                                <span class="text-danger" asp-validation-for="@Model.Email"></span>

                            </div>
                            <div class="form-group col-md-5 offset-md-1">

                                <input class="form-control" asp-for="@Model.UserName" placeholder="Username">
                                <span class="text-danger" asp-validation-for="@Model.UserName"></span>
                            </div>
                            <div class="form-group col-md-5 ">

                                <input class="form-control" asp-for="@Model.PhoneNumber" placeholder="Phone*">
                                <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
                            </div>
                            <div class="form-group col-md-5 offset-md-1">

                                <select asp-for="@Model.Gender" asp-items="ViewBag.gender" class="form-control">
                                    <span class="text-danger" asp-validation-for="@Model.Gender"></span>

                                </select>
                            </div>
                            <div class="form-group col-md-5 ">

                                <input class="form-control" asp-for="@Model.Birthdate" placeholder="Birth date">
                                <span class="text-danger" asp-validation-for="@Model.Birthdate"></span>
                            </div>
                            <div class="form-group col-md-10 offset-md-1 ">

                                <input class="form-control" asp-for="@Model.CurrentPassword" placeholder="CurrentPassword">
                                <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group col-md-5 offset-md-1">

                                <input class="form-control" asp-for="@Model.Password" placeholder="New Password">
                                <span class="text-danger" asp-validation-for="@Model.Password"></span>
                            </div>
                            <div class="form-group col-md-5 ">

                                <input class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password">
                                <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">

                                <div class="registration-button text-center mt-5">
                                    <button type="submit">Update</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 offset-lg-0 offset-md-2 col-6 offset-3">
                <div class="reservations" >
                    <h4 class="text-center">Reservations</h4>
                    <table class="table">
                        <thead>
                            <tr class="row">
                                <th class="col-md-4">#</th>
                                <th class="col-md-4">Date</th>
                                <th class="col-md-4">Time</th>
                              

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in res.Where(x=>x.Status==ReservationStatus.Accepted))
                            {
                                <tr class="row">
                                    <th class="col-md-4">@counter</th>
                                    <td class="col-md-4">@item.ReservationDate.ToString("dd.MM.yyyy")</td>
                                    <td class="col-md-4">@item.ReservationTime.ToString("HH:mm")</td>
                                   

                                  
                                </tr>

                                counter++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

