
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var counterTestimonial = 1;
}

<!-- section intro starts -->
<section id="about-intro" style="        background-image: url(~/../assets/images/store/bgstore.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title text-center">
                    <p>Enjoy your time in our restaurant with pleasure.</p>
                    <h1 class="text-white">About our Restaurant</h1>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
                <div class="scroll-down d-flex justify-content-center">
                    <div class="text-white mouse">
                        <div class="yellow-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer" style="background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section intro ends -->
<!-- section story starts -->
<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="story-content">
                    <div class="title">
                        <p>Our story</p>
                        <h1>Few words about us</h1>
                    </div>
                    <div class="dots">
                        <ul class="text-dark list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                    <div class="storytxt">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                            totam aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                            sunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                            ut aliquid ex ea commodi consequatur.
                        </p>
                        <p class="mt-1">
                            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            molestiae consequatur.
                        </p>

                    </div>

                    <a class="btn explore-btn" asp-controller="menu" asp-action="index">
                        Explore our Menu <i class="icon fal fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story-images">
                    <div class="slider-about flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">

                        <a class="about-image-link"
                           data-fancybox="gallery2"
                           href="/assets/images/story/main.jpg">
                            <img class="img-fluid" src="/assets/images/story/main.jpg" />
                        </a>
                        <a class="about-image-link"
                           data-fancybox="gallery2"
                           href="/assets/images/menu/1.jpg">
                            <img class="img-fluid" src="/assets/images/menu/1.jpg" />
                        </a>
                        <a class="about-image-link"
                           data-fancybox="gallery2"
                           href="/assets/images/menu/2.jpg">
                            <img class="img-fluid" src="/assets/images/menu/2.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section story ends -->
<!-- section stats starts -->
<section id="stats" style="background-image: url(./assets/images/about/bg10.jpg);">
    <div class="section-header-stats"
         style="background-image: url(./assets/images/section-footer/brush-dec_2.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="stat d-flex flex-column justify-content-between align-items-center">
                    <div class="odometer" data-target="254">0</div>


                    <p class="text-white">New Visiters Every Week</p>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat d-flex flex-column justify-content-between align-items-center">
                    <div class="odometer" data-target="12168">0</div>


                    <p class="text-white">Happy Customers Every Year</p>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat d-flex flex-column justify-content-between align-items-center">
                    <div class="odometer" data-target="172">0</div>


                    <p class="text-white">Won Awards</p>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat d-flex flex-column justify-content-between align-items-center">
                    <div class="odometer" data-target="732">0</div>

                    <p class="text-white">Weekly Deliveries</p>
                    <div class="dots">
                        <ul class="list-unstyled">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer-stats" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section stats ends -->
<!-- section chefs starts -->
<section id="chefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <p>Our awesome team</p>
                    <h1>Met Our Chefs</h1>
                </div>
                <div class="dots">
                    <ul class="text-dark justify-content-center list-unstyled">
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Chefs)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <div class="over-image">
                            <div class="overlay">
                                <p class="text-white text-center">Follow</p>
                                <div class="social-links">
                                    <ul class="list-unstyled d-flex justify-content-center align-items-around">
                                        <li><a href="@item.FacebookUrl"><i class="text-white fab fa-facebook-f"></i></a></li>
                                        <li><a href="@item.TwitterUrl"><i class="text-white fab fa-twitter"></i></a></li>
                                        <li><a href="@item.InstagramUrl"><i class="text-white fab fa-instagram"></i></a></li>
                                        <li><a href="@item.VkUrl"><i class="text-white fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="~/uploads/chefs/@item.Photo" class="img-fluid card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center card-title">Kevin Gray</h5>
                            <span class="text-center d-block">Master chef in @item.City</span>
                            <p class="text-center card-text">
                                @item.Desc
                            </p>
                            <div class="dots">
                                <ul class="justify-content-center list-unstyled">
                                    <li>.</li>
                                    <li>.</li>
                                    <li>.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="recipe-box">
                    <h4>Want to cook something tasty? Read our best recipes.</h4>
                    <a href="">Recipes Book <i class="icon fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section chefs ends -->
<!-- section video starts -->
<section id="video" style="        background-image: url(~/../assets/images/opening/plate.jpg);">
    <div class="section-header-video"
         style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="video-content d-flex flex-column justify-content-center align-items-center">
                    <div class="title text-center">
                        <p>Our promo video</p>
                        <h1 class="text-white">
                            Get ready to start your exciting journey.
                            Our restaurant will lead you through the amazing food world.
                        </h1>

                    </div>
                    <div class="dots ">
                        <ul class="list-unstyled justify-content-center">
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                            <li>.</li>
                        </ul>
                    </div>
                    <div class="video-btn mt-5">
                        <a class="play-btn" href="https://vimeo.com/10322316"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer-video" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
</section>
<!-- section video ends -->
<!-- section testimonial starts -->
<section id="testimonial">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <p>What said about us</p>
                    <h1>Customer Reviews</h1>
                </div>
                <div class="dots">
                    <ul class="list-unstyled text-dark justify-content-center">
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                        <li>.</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="carousel">

                    @foreach (var item in Model.Testimonials)
                    {


                        <div class="slider d-flex flex-column justify-content-center align-items-center">
                            <i class="align-self-start far fa-quote-left"></i>
                            <div class="image-box d-flex justify-content-center align-items-center">
                                <img src="~/uploads/testimonials/@item.ProfilePhoto" class="img-fluid" alt="">
                            </div>

                            <h6>@item.Fullname</h6>

                            <div class="rating">
                                @for (int i = 0; i < item.GivenRating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }



                            </div>

                            <p class="text-center">
                                "@item.Desc"
                            </p>

                            <div class="footer ">
                                @if (counterTestimonial >= 10)
                                {
                                    <span>@(counterTestimonial).</span>
                                }
                                else
                                {
                                    <span>0@(counterTestimonial).</span>
                                }
                                <div class="dots">
                                    <ul class=" list-unstyled">
                                        <li>.</li>
                                        <li>.</li>
                                        <li>.</li>
                                    </ul>
                                </div>
                                <i class="far fa-quote-right"></i>
                            </div>

                        </div>

                        counterTestimonial++;
                    }


                </div>

            </div>
        </div>
    </div>
</section>
<!-- section testimonial ends -->
