@model ShopViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int allproducts = ViewBag.AllProducts;
   
    int pageCount = ViewBag.PageCount;
    int selectedPage = ViewBag.SelectedPage;
    int? categoryId = ViewBag.CategoryId;
}


    <!-- section intro starts -->
    <section id="shop-intro" style="background-image: url(~/../assets/images/intro/shop.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="title text-center">
                        <p>Order food with home delivery</p>
                        <h1 class="text-white">Our Shop</h1>
                        <div class="dots">
                            <ul class="list-unstyled justify-content-center">
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                                <li>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="scroll-down d-flex justify-content-center">
                        <div class="text-white mouse">
                            <div class="yellow-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec.png);"></div>
    </section>
    <!-- section intro ends -->
    <!-- section  items starts-->
    <section id="items" style="        background-image: url(~/../assets/images/services/section-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="txt d-lg-flex d-md-flex d-block justify-content-between">
                        @*<p>Showing <span>@Model.Products.Take(6).Count()</span> of @allproducts results </p>*@
                        <div class="form-group col-md-4 col-7 p-0">

                            <select id="inputState" class="form-control">
                                <option selected>Popularity</option>
                                <option>Average rating</option>
                                <option>Price:low to high</option>
                                <option>Price:high to low</option>
                            </select>
                        </div>

                    </div>
                    <div class="list">
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                var poster = item.ProductPhotos.FirstOrDefault(x=>x.Order==1);
                                <div class="col-lg-6 col-md-6">
                                    <div class="item">
                                        <div class="image">
                                            <div class="overlay">
                                                <a class="image-link" href="">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </div>
                                            <img src="./uploads/products/@poster.Name" class="img-fluid">
                                           

                                        </div>
                                        <div class="item-detail">
                                            <div class="top">
                                                <a asp-action="index" asp-controller="product" asp-route-id="@item.Id" asp-route-categoryId="@item.Category.Id">@item.Name</a>
                                                
                                                <span><span class=" @(item.DiscountPercent>0?"d-block":"d-none")">Sale - @item.DiscountPercent%</span><span class="@(item.IsChefSelecetion==true?"d-block":"d-none")">Chef Selected</span></span>
                                            </div>
                                            <p>@item.SmallDesc</p>
                                            <div class="bottom">
                                                <span class="price">$@item.Price</span>
                                                <a href="#" class="add-btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination">
                                    <ul class="list-unstyled d-flex ">
                                        @if (selectedPage > 1)
                                        {
                                            <li><a asp-action="index" asp-route-page="@(selectedPage-1)" class="prev-btn"><i class="fal fa-long-arrow-left"></i></a></li>
                                        }
                                        @for (int i = (selectedPage > 1 ? (selectedPage - 1) : 1); i <= (selectedPage < pageCount ? selectedPage + 1 : pageCount); i++)
                                        {
                                           
                                                <li class="@(i==selectedPage?"on":"")">
                                                    <a asp-action="index" asp-route-page="@i" class="page">
                                                        @if (i < 10)
                                                        {
                                                            <span>0@(i).</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@i.</span>
                                                        }

                                                    </a>
                                                </li>
                                           
                                        }
                                        @if (selectedPage < pageCount)
                                        {
                                            <li><a asp-action="index" asp-route-page="@(selectedPage+1)" class="next-btn"><i class="fal fa-long-arrow-right"></i></a></li>
                                        }
                                        

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="sidebar">
                        <form class="search" asp-action="index" method="get">
                            <div class="col-md-12 justify-content-center d-flex align-items-center">
                                <input type="text" class="form-control" placeholder="Search..." name="searchStr" value="@ViewBag.SearchString">
                                <button type="submit" value="Search" class="search-btn"><i class="text-white fas fa-search"></i></button>
                            </div>


                        </form>
                        <form class="filter">
                            <p>Price Filter</p>
                            <div class="row mt-3">
                                <div class="col-lg-9 col-md-9 col-9">
                                    <input type="text" id="range" class="js-range-slider" name="my_range" value="" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-3 p-0 d-flex justify-content-center align-items-center">
                                    <a href="#" class="update-btn">Update</a>
                                </div>
                            </div>
                        </form>
                        <div class="popular">
                            <p class="popular-text">Popular Products</p>

                            <ul class="list-unstyled mt-3">
                                @foreach (var item in Model.PopularProducts)
                                {
                                   
                                    <li class="popular-product d-flex">
                                        <div class="small-image mr-3">
                                            <img src="~/uploads/products/poster/@item.PosterPhoto" class="img-fluid" style="width: 90px; height: auto;">
                                        </div>
                                        <div class="small-txt">
                                            <p class="text">@item.Name</p>
                                            <div class="small-price d-flex">
                                                <span class="pricetxt">Price:<span class="digit">$@item.DiscountedPrice</span></span>
                                                <span class="reviews">@item.ProductReviews.Count() Reviews</span>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>

                        <div class="categories mt-5">
                            <p class="categorytxt">Categories</p>

                            <ul class="list-unstyled mt-3">
                                @foreach (var item in Model.Categories)
                                {
                                    <li class="category-link"><a asp-controller="product" asp-action="index" asp-route-categoryId="@item.Id" class="category-btn">@item.Name</a> <span>@Model.Products.Where(c => c.Category.Name == item.Name).Count()</span></li>
                                }
                            </ul>
                        </div>

                        <div class="tags mt-5">
                            <p class="tagtxt">Recent tags</p>

                            <ul class="list-unstyled mt-3 ">
                                @foreach (var item in Model.Tags)
                                {
                                    <li class="taglink"><a asp-controller="product" asp-action="index" asp-route-categoryId="@item.Id">@item.Name</a></li>
                                }

                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer" style="        background-image: url(~/../assets/images/section-footer/brush-dec_2.png);"></div>
    </section>
    <!-- section items ends -->

