@model Menu
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Create</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Name"></label>
                <input class="form-control" asp-for="@Model.Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Order"></label>
                <input class="form-control" asp-for="@Model.Order">
                <span asp-validation-for="@Model.Order" class="text-danger"></span>
            </div>

        </div>






        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


}
