@model EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

    string roleId = ViewBag.role;
}

<div class="checkout-area pb-45 pt-65">
    <div class="container">
        <div class="row " style="display: flex; justify-content: center;">
            <div class="ml-auto mr-auto col-lg-6 ">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div id="my-account-1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">

                                        <div class="account-info-wrapper mb-2">

                                        </div>
                                        <form method="post">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label class="form-label" asp-for="@Model.RoleName">Role Name</label>
                                                        <input class="form-control" style="background-color:antiquewhite" asp-for="@Model.RoleName" type="text">
                                                        <span asp-validation-for="@Model.RoleName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label class="form-label" asp-for="@Model.Id">Role Id</label>
                                                        <input class="form-control" readonly style="background-color:antiquewhite" asp-for="@Model.Id" type="text">
                                                        <span asp-validation-for="@Model.Id" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div asp-validation-summary="All"></div>

                                            </div>
                                            <div class="billing-btn mt-3">
                                                <button type="submit" class="btn btn-primary ">Edit Role</button>
                                            </div>

                                            @if (Model.Users.Any())
                                            {
                                                <div class="mt-4">
                                                    <ul class="list-unstyled">
                                                        @foreach (var user in Model.Users)
                                                        {
                                                            <h2>@user</h2>



                                                        }
                                                    </ul>
                                                    <div class="mt-3">
                                                        <a asp-action="edituserinrole" asp-controller="administration" asp-route-id="@roleId" class=" btn btn-primary">Add or remove user for this role</a>
                                                        <a asp-action="index" asp-controller="administration" class="btn btn-danger">Back</a>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <a asp-action="edituserinrole" asp-controller="administration" asp-route-id="@roleId" class="mt-2 btn btn-primary">Add  user to this role</a>
                                            }

                                        </form>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

