@model Setting 
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Edit</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">

            <div class="form-group col-md-6">
                <label asp-for="@Model.ServicePhone"></label>
                <input class="form-control" asp-for="@Model.ServicePhone">
                <span asp-validation-for="@Model.ServicePhone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.SupportPhone"></label>
                <input class="form-control" asp-for="@Model.SupportPhone">
                <span asp-validation-for="@Model.SupportPhone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Address"></label>
                <input class="form-control" asp-for="@Model.Address">
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.SupportEmail"></label>
                <input class="form-control" asp-for="@Model.SupportEmail">
                <span asp-validation-for="@Model.SupportEmail" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="@Model.FacebookUrl"></label>
                <input class="form-control" asp-for="@Model.FacebookUrl">
                <span asp-validation-for="@Model.FacebookUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.TwitterUrl"></label>
                <input class="form-control" asp-for="@Model.TwitterUrl">
                <span asp-validation-for="@Model.TwitterUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.VkUrl"></label>
                <input class="form-control" asp-for="@Model.VkUrl">
                <span asp-validation-for="@Model.VkUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.InstagramUrl"></label>
                <input class="form-control" asp-for="@Model.InstagramUrl">
                <span asp-validation-for="@Model.InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.VideoRedirectUrl"></label>
                <input class="form-control" asp-for="@Model.VideoRedirectUrl">
                <span asp-validation-for="@Model.VideoRedirectUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.StartDay1"></label>
                <input class="form-control" asp-for="@Model.StartDay1">
                <span asp-validation-for="@Model.StartDay1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.StartTime1"></label>
                <input class="form-control" asp-for="@Model.StartTime1">
                <span asp-validation-for="@Model.StartTime1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.OverDay1"></label>
                <input class="form-control" asp-for="@Model.OverDay1">
                <span asp-validation-for="@Model.OverDay1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.OverTime1"></label>
                <input class="form-control" asp-for="@Model.OverTime1">
                <span asp-validation-for="@Model.OverTime1" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.StartDay2"></label>
                <input class="form-control" asp-for="@Model.StartDay2">
                <span asp-validation-for="@Model.StartDay2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.StartTime2"></label>
                <input class="form-control" asp-for="@Model.StartTime2">
                <span asp-validation-for="@Model.StartTime2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.OverDay2"></label>
                <input class="form-control" asp-for="@Model.OverDay2">
                <span asp-validation-for="@Model.OverDay2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.OverTime2"></label>
                <input class="form-control" asp-for="@Model.OverTime2">
                <span asp-validation-for="@Model.OverTime2" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.ShippingCost"></label>
                <input class="form-control" asp-for="@Model.ShippingCost">
                <span asp-validation-for="@Model.ShippingCost" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="@Model.FooterDesc"></label>
            <textarea class="form-control" asp-for="@Model.FooterDesc"></textarea>
            <span asp-validation-for="@Model.FooterDesc" rows="3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AboutStory"></label>
            <textarea class="form-control" asp-for="@Model.AboutStory"></textarea>
            <span asp-validation-for="@Model.AboutStory" rows="3" class="text-danger"></span>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">

                <label asp-for="@Model.Header"></label>
                <input class="form-control" asp-for="@Model.Header">
                <span asp-validation-for="@Model.Header" class="text-danger"></span>
                <div style="margin-top:8px" class="photo-box">
                    @if (Model.HeaderLogo != null)
                    {
                        <img style="max-width:150px" src="~/uploads/setting/@Model.HeaderLogo" alt="Alternate Text" />
                        <input asp-for="@Model.HeaderLogo" hidden />}
                </div>

            </div>
            <div class="form-group col-md-6">

                <label asp-for="@Model.Footer"></label>
                <input class="form-control" asp-for="@Model.Footer">
                <span asp-validation-for="@Model.Footer" class="text-danger"></span>
                <div style="margin-top:8px" class="photo-box">
                    @if (Model.FooterLogo != null)
                    {
                        <img style="max-width:150px" src="~/uploads/setting/@Model.FooterLogo" alt="Alternate Text" />
                        <input asp-for="@Model.FooterLogo" hidden />}
                </div>

            </div>
            <div class="form-group col-md-6">

                <label asp-for="@Model.BookPdf"></label>
                <input class="form-control" asp-for="@Model.BookPdf">
                <span asp-validation-for="@Model.BookPdf" class="text-danger"></span>
                <div style="margin-top:8px" class="photo-box">
                    @if (Model.BookPdfUrl != null)
                    {
                        <img style="max-width:150px" src="~/uploads/pdf/@Model.BookPdfUrl" alt="Alternate Text" />
                        <input asp-for="@Model.BookPdfUrl" hidden />}
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">

                <label asp-for="@Model.AboutFile"></label>
                <input class="form-control" asp-for="@Model.AboutFile">
                <span asp-validation-for="@Model.AboutFile" class="text-danger"></span>
                <div style="margin-top:8px" class="photo-box">
                    @if (Model.AboutPhoto != null)
                    {
                        <img style="max-width:150px" src="~/uploads/setting/@Model.AboutPhoto" alt="Alternate Text" />
                        <input asp-for="@Model.AboutPhoto" hidden />}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
// Replace the <textarea id="editor1"> with a CKEditor 4
        // instance, using default configuration.
        CKEDITOR.replace('AboutDesc');</script>

}

